<template>
    <div>
        <footer class="footer has-background-dark has-text-light">
            <div class="content has-text-centered">
                <p>ChallengeGalaxy</p>
                <p>The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>