// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

$purplelight: #C07BDB;

//I know this is not the best way, but cant get at real bulma vars in time yet
$bulma-dark: #363636;